.u-text-center{
    text-align: center;
}

.u-margin-small{
    margin-bottom: 1.5rem;
}

.u-margin-8{
    margin-bottom: 8rem;
}

.u-margin-top-big{
    margin-top: 8rem;
}

.u-margin-top-huge{
    margin-top: 10rem;
}

.center{
    max-width: 114rem;
    margin: 0 auto;
}