@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  text-align: center; }
  .heading__text_box {
    margin-bottom: 6rem; }
  .heading__primary_main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading__primary_sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }

.u-text-center {
  text-align: center; }

.u-margin-small {
  margin-bottom: 1.5rem; }

.u-margin-8 {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.center {
  max-width: 114rem;
  margin: 0 auto; }

.btn_white {
  background-color: #fff;
  color: #777; }

.btn_green {
  background-color: #55c57a;
  color: #fff; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn_text:link, .btn_text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn_text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn_text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.text_center {
  text-align: center; }

.heading_secondary {
  font-size: 3.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  .heading_secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.about_item h3 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.about_item p {
  font-size: 1.6rem; }
  .about_item p:not(:last-child) {
    margin-bottom: 3rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    border-radius: 2px;
    outline-offset: 2rem;
    transition: all .2s;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
    .composition__photo-1 {
      left: 0;
      top: -2rem; }
    .composition__photo-2 {
      right: 0;
      top: 2rem; }
    .composition__photo-3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #55c57a;
      z-index: 20; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.95); }

.feature__box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.4rem;
  border-radius: 3px;
  transition: all .3s; }
  .feature__box-icon {
    font-size: 6rem; }
  .feature__box-heading {
    text-transform: uppercase;
    margin: 1rem 0; }
  .feature__box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  height: 52rem;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-image: linear-gradient(to right, #ffb900, #ff7730);
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url(/src/images/nat-5.jpg); }
  .card__heading {
    position: absolute;
    top: 12rem;
    right: 0;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__details {
    padding: 3rem;
    margin: 0 auto; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.story__card {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding: 6rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 1.6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  margin-bottom: 8rem; }
  .story__card-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__card-img {
    height: 100%;
    transition: all .5s;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden; }
  .story__card-text {
    transform: skewX(12deg); }
  .story__card-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: all .5s;
    opacity: 0; }
  .story__card:hover .story__card-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story__card:hover .story__card-img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: .20;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__group {
  padding-top: 3rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  width: 90%;
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  display: block;
  border: none;
  background-color: white; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__group-radio {
  display: flex;
  padding: 1rem; }

.form__radio-group {
  padding: 2rem 5rem 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.form__radio-label {
  font-size: 1.6rem;
  margin-left: 1rem; }

.header_container {
  position: relative; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header_logo_box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header_logo {
    height: 3.5rem; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__list {
    list-style: none;
    display: inline-block;
    border-top: 1px solid gray; }
  .footer__item {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 1px;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    color: #fff; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem;
      display: inline-block; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    border-top: 1px solid grey; }
    .footer__copyright p {
      margin-top: 1.5rem;
      color: #fff; }

.section_about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.feature__section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/src/images/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .feature__section > * {
    transform: skewY(7deg); }

.tours__section {
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem; }

.stories__section {
  padding: 15rem 0;
  position: relative; }

.book__section {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("/src/images/nat-10.jpg");
  height: 53rem;
  background-size: 100%;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  .book__form {
    width: 50%;
    padding: 6rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* font-size: 10px; */ }

body {
  box-sizing: border-box; }
