.about_item{

    h3{
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    p{
        font-size: 1.6rem;

        &:not(:last-child){
            margin-bottom: 3rem;
        }
    }
}


.composition{
    position: relative;

    &__photo{
        width: 55%;
        position: absolute;
        border-radius: 2px;
        outline-offset: 2rem;
        transition: all .2s;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);

        &-1{
            left: 0;
            top: -2rem;
        }

        &-2{
            right: 0;
            top: 2rem;
        }

        &-3{
            left: 20%;
            top: 10rem;
        }

        &:hover{
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem  rgba($color-black, .5);
            outline: 1.5rem solid $color-primary;
            z-index: 20;
        }
        
        &:hover &__photo:not(:hover){
            transform: scale(.95);
        }

    }
}