.text_center{
    text-align: center;
}

.heading_secondary{
    font-size: 3.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    text-transform: uppercase;
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    
    @include respond(phone) {
        font-size: 2.5rem;
      }

    @include respond(phone) {
        font-size: 2rem;
      }

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}